In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('wine_data_preference.csv', encoding='cp949')
data.head()

   seq  gender  age     job  marital province  city choice
0  1.0    MALE  50대  중소기업직원  MARREID      부산시  해운대구      A
1  2.0  FEMALE  30대     연구원   SINGLE      경상도   하동군      D
2  3.0  FEMALE  30대     자영업  MARREID      부산시   사하구      B
3  4.0  FEMALE  40대     자영업  MARREID      부산시   사하구      D
4  5.0  FEMALE  40대      의사  MARREID      서울시   강남구      C

In [4]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import statsmodels.api as sm

In [6]:
df_raw_x = data.drop(['choice', 'seq'], axis = 1, inplace = False)
df_raw_y = data['choice']